body {
	font-size: $body-font-size;
	font-family: $body-font-family;
	line-height: $body-line-height;
}

h1, h2, h3, h4, h5 {
	font-family: $heading-font-family;
	line-height: $heading-line-height;
}

a {
	color: $blue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		color: $green;
	}
}
